<nav>
    <div class="navbar">
      <div>
       <ul><div><%= image_tag( "bars-solid.svg", class: 'menu-icon') %> </div>
       
      </div>
      <div>
        <%= link_to '/' do  %>
        <%= image_tag("house-solid.svg", class: 'home-icon')%>
         <% end %>
      </div>
      <div class='student'>
        <%= link_to t('.student'), students_path, class: "link" %> 
      </div>
      <div>
        <%= button_to t('.log-out'), logout_path ,method: :delete %>
      </div>
    </div>
</nav> 
<div class="menu">
  <li class='menu-item'><%= t('.hi') %><%= current_user.first_name %> <%=t('.admin')%></li>
  <li class='menu-item'><%= link_to t('.profile')%></li>
  <li class='menu-item'><%= link_to t('.role'), users_path %></li>
  </ul>
</div>