<% comments.each do |day, comments|%>
  <h2 class = 'comment-date'> <%= CommentPresenter.new(day).formatted_date %></h2>
  <% comments.each do |comment| %>
    <div class='conteiner-text-comment'>
      <div class="text-comment-each <%= "highlighted-comment" if comment.highlight %>">
        <div class = 'comment-name-time'>
          <%= comment.user.first_name %>
          <p class = 'comment-time'><%= comment.created_at.strftime('%H:%M') %></p>
          <div class = 'likes'>
            <%= render 'likes_count', comment: comment, student: student %>
          </div>
        </div>
        <p class='text-comment'><%= comment.body %></p>
        <% if comment.attachment.attached? %>
        <ul>
          <% comment.attachment.each do |attachment| %>
            <li> <%= link_to attachment.filename, url_for(attachment), download: attachment.filename %> </li>
            <% end %>
        </ul>
        <% end %>
      </div>
      <details>
        <summary class='summary-btn'></summary>
        <div class = 'answers-container'>
          <% comment.answers.each do |answer| %>
            <div class='conteiner-answer-comment'>
              <div class="text-comment-each">
                <span class = 'answer-name-time'>
                  <%= answer.user.first_name %>
                  <p class = 'comment-time'><%= comment.created_at.strftime('%H:%M') %></p>
                </span>
                <p class='answer-comment'><%= answer.reply%></p>
              </div>
            </div>
          <%end%>
        </div>
        <div class='placeholder-answers'>
          <%= form_with(scope: :answer, url: student_comment_answers_path(student, comment), method: :post) do |form| %>
            <%= form.text_area :reply, class:"aswers-textarea", placeholder: t('.placeholder_answer')%>
            <%= button_tag :submit, class: 'form-btn-sub-comment' do %>
              <%= image_tag 'send.svg' %>
            <% end %>
          <% end %>
        </div>
      </details>
    </div>
  <% end %>
<% end %>
