<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal", turbo_modal_target: "container",action: 
    "turbo:submit-end->turbo-modal#submitEnd 
    keyup@window->turbo-modal#closeWithKeyboard 
    click@window->turbo-modal#closeBackground" }, class:'modal-container' do %>
  <div class='modal' data-turbo-modal-target= "modal">
    <div class="modal-title"><h1 class="modal-title-h1"><%=t('.edit_student')%></h1>
    </div>
      <%= form_with(scope: :student, url: student_path, method: :put) do |form| %>
        <section class='modal-center-form'>
          <div class= "modal-item">
            <%= form.label :name ,t('.name'), {class: 'form-label'} %>
            <%= form.text_field :name, class: 'modal-form-label',value: @student.name %>
          </div>
          <div class="modal-item">
            <%= form.label :lastname ,t('.last_name'), {class: 'form-label'} %>
            <%= form.text_field :lastname, class: 'modal-form-label',value: @student.lastname%>
          </div>
          <div class="modal-item">
            <%= form.label :birth ,t('.date'), {class: 'form-label'}%>
            <%= form.date_field :birth, class: 'modal-form-label',value: @student.birth %>
          </div>
          <div class="modal-item">
            <%= form.label :address ,t('.address'), {class: 'form-label'}%>
            <%= form.text_field :address, class: 'modal-form-label',value: @student.address %>   
          </div>
          <div class="modal-item">
            <%= form.label :school_level ,t('.level'), {class: 'form-label'} %>
          </div>
          <div class= 'input-form-modal-edit'>
            <%= form.select :school_level, options_for_select(Student.school_levels.keys.map { |key| translate_enum(Student, 'school_level', key) }) %>          </div>
          <p class="form-label"><%=t('.goes_to_school')%></p>
          <div class="modal-item radio-button-form">
            <%= form.label :goes_to_school, t('.yes'), class: 'radio-button-form' %>
            <%= form.radio_button :goes_to_school, true,value: @student.goes_to_school %>
            <%= form.label :goes_to_school, t('.no'), class: 'radio-button-form' %>
            <%= form.radio_button :goes_to_school, false ,value: @student.goes_to_school%>
          </div>
          <div>
            <%= form.submit value: t('.submit'), class:"modal-new-student" %>
          </div>
        </section> 
      <% end %>
    </div>
 <% end %>
<% end %>