<%= render "navbar/nav" %>
<table class='table-container'>
  <tr class='table-th'>
    <th><%=t('.students')%></th>
    <th><%=t('.age')%></th>
    <th><%=t('.level')%></th>
    <th><%=t('.study')%></th>
    <th></th>
  </tr>
  
  
  <% @students.each do |student| %>
  <tr class="user-tr">
    <td ><%= student.decorate.full_name%></td>
    <td class='name'><%= student.calculate_age %></td>
    <td class='name'><%= student.school_level %></td>
    <td class='name'><%= student.decorate.status_school %></td>
    <td class='name'><%= image_tag( "pen-solid.svg", class: 'pen-icon') %></td>
    <td ><%= image_tag( "trash-can-solid.svg", class: 'trash-icon') %></td>
  </tr>
  <%end%>

</table>
<div class='pagination'>
  <%== pagy_nav(@pagy) %>
</div>

