<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal", turbo_modal_target: "container",action: 
    "turbo:submit-end->turbo-modal#submitEnd 
    keyup@window->turbo-modal#closeWithKeyboard 
    click@window->turbo-modal#closeBackground" }, class:'modal-container' do %>
  <div class='modal' data-turbo-modal-target= "modal">
    <h1 class="modal-title "><%=t('.new-student')%></h1>
    <%= form_with(scope: :student, url: students_path, method: :post) do |form| %>
      <section class='modal-center-form'>
        <div class="modal-item">
        <%= form.label :name ,t('.first-name'), {class: 'form-label'} %>
        <%= form.text_field :name,value: params[:name],class: 'modal-form-label'%>
         </div>
         <div class="modal-item">
        <%= form.label :lastname ,t('.last-name'), {class: 'form-label'} %>
        <%= form.text_field :lastname,value: params[:lastname],class: 'modal-form-label' %>
        </div>
        <div class="modal-item">
        <%= form.label :birth ,t('.date'), {class: 'form-label'}%>
        <%= form.date_field :birth,value: params[:birth] ,class: 'modal-form-label'%>
        </div>
        <div class="modal-item">
        <%= form.label :address ,t('.address'), {class: 'form-label'}%>
        <%= form.text_field :address,value: params[:address],class: 'modal-form-label' %>
        </div>
        <div class="modal-item">
        <%= form.label :school_level ,t('.level'), {class: 'form-label'} %>
        <%= form.select :school_level, Student.school_levels.keys, class: 'input-form' ,class: 'modal-form-label'%>
        </div>
        <p class="form-label">t('.goes_to_school')</p>
        <div class="modal-item radio-button-form">

        <%= form.label :goes_to_school, t('.yes'), class: 'radio-button-form' %>
        <%= form.radio_button :goes_to_school, true %>
        <%= form.label :goes_to_school, t('.no'), class: 'radio-button-form' %>
        <%= form.radio_button :goes_to_school, false %>
        </div>
      <div >
        <%= form.submit :value => t('.create_student'), class:"modal-new-user" %>
      <% end %>
      </div>
      </section>
    </div>
 <% end %>
<% end %>
