<%= render "navbar/nav" %>
<div class="student--container">
  <section class="student--container-tittle">
    <p><%=t('.students')%></p>
    <%=image_tag("Vector-flecha.svg", class:"student-chevron-right ") %>
    <p class="student--container-name"><%= @student.decorate.full_name %></p>
  </section>
  <div class="student-card">
    <div class="student-card-section">
      <section>
        <h1 class="student--card-name"><%= @student.decorate.full_name %></h1>
        <h2 class="student--card-subtittle"><%=t('.data')%></h2>
        <h3 class="student--card-label"><%=t('.date')%></h3>
        <p class="student--card-data"><%= @student.birth %><p>
        <h3 class="student--card-label"><%=t('.address')%></h3>
        <p class="student--card-data"><%= @student.address %><p>
        <h3 class="student--card-label"><%=t('.school_level')%></h3>
        <p class="student--card-data"><%= @student.school_level %><p>
        <h3 class="student--card-label"><%=t('.study')%></h3>
        <p class="student--card-data"><%= @student.goes_to_school%><p>
      </section>
    </div>
    <div class="comments">
     <h1 class=comments-tittle><%=t('.comments')%></h1>
     <div class="comments-text"></div>
    </div>
  </div> 
</div>