<%= render "navbar/nav" %>
<div class="student--container">
  <section class="student--container-tittle">
    <p><%=t('.students')%></p>
    <%=image_tag("Vector-flecha.svg", class:"student-chevron-right ") %>
    <p class="student--container-name"><%= @student.decorate.full_name %></p>
  </section>
  <div class="student-card">
    <div class="student-card-section">
      <section>
        <h1 class="student--card-name"><%= @student.decorate.full_name %></h1>
        <h2 class="student--card-subtittle"><%=t('.data')%></h2>
        <h3 class="student--card-label"><%=t('.date')%></h3>
        <p class="student--card-data"><%= @student.birth %><p>
        <h3 class="student--card-label"><%=t('.address')%></h3>
        <p class="student--card-data"><%= @student.address %><p>
        <h3 class="student--card-label"><%=t('.school_level')%></h3>
        <p class="student--card-data"><%= @student.school_level %><p>
        <h3 class="student--card-label"><%=t('.study')%></h3>
        <p class="student--card-data"><%= @student.goes_to_school%><p>
      </section>
      </div>
      <div class="comentarios">
         <div>
           <h1 class=comentario-h1><%=t('.comments')%></h1>
           <%= form_with(scope: :comment, url: student_comments_path(@student), method: :post) do |form| %>
             <%= form.text_area :body, class:"conteiner-comment" %>
             <%= form.submit t('.public'), class:'button-comment' %>
            <% end %>
         </div>
         <div class='conteiner-text-comment'>
           <% @student.comments.each do |comment| %>
            <div class="text-comment-each">
              <%= current_user.first_name %>
              <%= comment.created_at %>
            </div>
            <p class='text-comment'><%= comment.body %></p>
           <% end %>
         </div>
      </div>
   </div> 
</div>