<article class="container">
  <div class="card">
    <nav class="menu">
      <%= link_to 'login' %>
      <%= link_to 'register' %>
    </nav>
    <hr id='line'>
    <div class="container-card">
      <div class="imag-card">
        <%= image_tag("Frame.svg", class: 'imag-size') %>
      </div>
      <div class="form-card">
        <h1>Ingresar a mi cuenta<h1>
        <%= form_with url:'/login', method: :post do |form| %>
          <div class='center-form-content'>
            <%= form.label :email , {class: 'form-label'}%>
            <%= form.email_field :email,value: params[:email] %>
          </div>
          <div class='center-form-content'>
            <%= form.label :password , {class: 'form-label'}%>
            <%= form.password_field :password,value: params[:password] %>
          </div>
          <div class='remember-me'>
            <%= form.check_box :remember_me, class:'remember-me' %>
            <%= form.label :remember_me, "Remember Me", class:'remember-me-label' %>
          </div>
          <div class= 'center-form-content'>
            <%= form.submit :value => 'Sing-in', class:'signin-button' %>
            <%= link_to 'recoverd password', '/' , class: 'recover-password' %>
            <%= button_to "Register with google", '/' , {class:'signin-button-google'}  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</article>