<%= render "navbar/nav" %>
<div class="index-container"> 
<section class="nav-users-container">
  <div class='button-filter'>
    <%= form_with(url: users_path, method: :get, scope: :user_filter) do |f| %> 
    <%= f.text_field :full_name , class: "filter"%>
    <div class="magnifying-glass">
      <%= image_submit_tag("magnifying-glass-solid.svg")%>
    </div>
    <% end %>
  </div>
  <div class="new-user">
    <%= link_to t('.new-user'), new_user_path(), method: :get, data: { turbo_frame: 'modal' } %>
  </div>
</section>
<table class='table-container'>
  <thead>
    <tr class='table-th'>
      <th><%=t('.username')%></th>
      <th><%=t('.email')%></th>
      <th><%=t('.role')%></th>
      <th><%=t('.activate')%></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <% @records.each do |user| %>
      <tr class='users-td'>
        <td class='checkbox'><%= check_box_tag "checkbox_name" %></td>
        <td class='name'><%= user.first_name %> <%= user.last_name %></td>
        <td class='email'><%= user.email %></td>
        <td >
          <%= form_with(scope: :user, url: post_new_user_path, method: :post) do |form| %>
            <%= form.select :role, options_for_select(User.roles.keys, selected: user.role), {},class:"rol", disabled: true %>
          <% end %> 
        </td>  
        <td>
        <%= form_with(url: user_toggle_deactivate_path(user), method: :put) do |form| %>
          <div class="toggle-button" data-controller="toggle">
            <%= form.check_box :active, checked: user.active, data:{toggle_target:"checkbox", action:"toggle#changeActive"} ,id:user.id   %>
            <label for=<%=user.id%>><%= form.submit %></label>
          </div>
        <% end %>
        </td>
         <td><%= button_to edit_user_path(user), method: :get, data: { turbo_frame: 'modal' } do%>
                    <%= image_tag( "pen-solid.svg", class: 'pen-icon') %>
                    </div> 
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='pagination'>
  <%== pagy_nav(@pagy) %>
</div>
