<%= render "navbar/nav" %>
<h1><%=t('.user-list')%></h1>
<div class="index-container"> 
<section class="nav-users-container">
  <%= render partial: "index_search_filter", locals: {filter: @presenter.filter} %>
  <%= button_to t('.new-user'), new_user_path(), method: :get, data: { turbo_frame: 'modal' } %>
</section>
<table>
  <thead>
    <tr>
      <%=tag.th  t('.first_name'), class:'first_name'%>
      <%=tag.th  t('.last_name'), class:'last_name'%>
      <%=tag.th  t('.email'), class:'email'%>
      <%=tag.th t('.rol'), class:'rol_name'%>
      <%=tag.th t('.active'), class:'active'%>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
        <%= form_with(url: user_toggle_deactivate_path(user), method: :put) do |form| %>
          <div class="toggle-button" data-controller="toggle">
            <%= form.check_box :active, checked: user.active, data:{toggle_target:"checkbox", action:"toggle#changeActive"} ,id:user.id   %>
            <label for=<%=user.id%>><%= form.submit %></label>
          </div>
        <% end %>
        </td>
        <td><%= button_to "Editar", edit_user_path(user), method: :get, data: { turbo_frame: 'modal' } %></td>
        <td><%= button_to "active", user_toggle_deactivate_path(user), method: :put %></td>
        <td>
        <!--
        <%= form_with(url: user_toggle_deactivate_path(user), method: :put) do |form| %>
          <div class="toggle-button" data-controller="users">
            <%= form.check_box :active, data:{users_target:"checkbox", action:"users#changeActive"} ,id:user.id   %>
            <label class="" for=<%=user.id%>><%= form.submit %></label>
          </div>
        <% end %>
        </td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>
