<article class="login">
<div class="container">
  <div class="card">
    <nav class="menu">
      <%= link_to "Sesion"%>
      <%= link_to "Registro"%>
    </nav>
    <div class="container-card">
      <div class="imag-card">
        <%= image_tag("Frame.svg", class: 'imag-size') %>
      </div>
      <div class="form-card">
        <h1>Registro</h1>
        <%= form_with(model: @user) do |form| %>
        <section class='center-form-content'>
          <%= form.label :user_name , {class: 'form-label'} %>
          <%= form.text_field :user_name,value: params[:user_name] %>
        </section>
        <section class='center-form-content'>
          <%= form.label :email , {class: 'form-label'}%>
          <%= form.email_field :email,value: params[:email] %>
        </section>
        <section class='center-form-content'>
          <%= form.label :password , {class: 'form-label'}%>
          <%= form.password_field :password,value: params[:password] %>
        </section>
        <section  class='center-form-content'>
          <%= form.label :confirm_password , {class: 'form-label'}%>
          <%= form.password_field :confirm_password,value: params[:confirm_password] %>
        </section>
        <%= form.submit class:'signin-button' %>
        <% end %>
        <%= button_to "Register with google", '/' , {class:'signin-button-google'} %>
        </div>
      </div>
    </div>
  </div>
</article>
