<section class='attendance-container'>
  <span class='h2-container'>
    <h2 class='h2-attendance'><%=t('.attendance')%></h2>
    <%= image_tag('Vector-up.svg', class:'vector-up', data: { action: 'click->attendance#toggle' }) %>
  </span>
  <table class='attendance-table' data-attendance-target='table'>
    <tr class='tr-attendance'>
      <th class='th-attendance th-student-body'><%=t('.student-body')%></th>
      <th class='th-attendance text' data-hover='<%=t('.present-hover')%>'><%=t('.present')%></th>
      <th class='th-attendance text' data-hover='<%=t('.absent-hover')%>'><%=t('.absent')%></th>
      <th class='th-attendance text' data-hover='<%=t('.left-hover')%>'><%=t('.left')%></th>
    </tr>
    <% students.each do |student| %>
    <tr class='tr-attendance' data-controller='attendance' data-attendance-url-value='<%= student_attendance_create_or_update_path(student) %>'>
      <td class='td-attendance'><%= " #{student.name} #{student.lastname}"%> </td>
      <td>
        <%= radio_button_tag "assistant#{student.id}", 0, false, data: {action: 'click->attendance#submit'} %>
        <%= radio_button_tag "assistant#{student.id}", 1, false, data: {action: 'click->attendance#submit'} %>
        <%= radio_button_tag "assistant#{student.id}", 2, false, data: {action: 'click->attendance#submit'} %>
      </td>
    </tr>
    <%end%>
  </table>
</section>