<section class='attendance-container'>
  <span class='h2-container'>
    <h2 class='h2-attendance'><%=t('.attendance')%></h2>
    <%= image_tag('Vector-up.svg', class:'vector-up', data: { action: 'click->attendance#toggle' }) %>
  </span>
  <table class='attendance-table' data-attendance-target='table'>
    <tr class='tr-attendance'>
      <th class='th-attendance th-student-body'><%=t('.student-body')%></th>
      <th class='th-attendance text' data-hover='<%=t('.present-hover')%>'><%=t('.present')%></th>
      <th class='th-attendance text' data-hover='<%=t('.absent-hover')%>'><%=t('.absent')%></th>
      <th class='th-attendance text' data-hover='<%=t('.left-hover')%>'><%=t('.left')%></th>
    </tr>
    <% students.each do |student| %>
    <tr class='tr-attendance'>
      <td class='td-attendance'><%= " #{student.name} #{student.lastname}"%> </td>
      <td><%= form_with url: attendance_create_or_update_path, method: :post, data: { controller: 'attendance', 'attendance-url-value': attendance_create_or_update_path, attendance_student_id_value: student.id } do |form| %> 
        <label><%= form.radio_button :state, 0, data: {action: 'change->attendance#submit'}  %></label>
        <label><%= form.radio_button :state, 1, data: {action: 'change->attendance#submit'} %></label>
        <label><%= form.radio_button :state, 2, data: {action: 'change->attendance#submit'} %></label>
      </td>
      <%end%>
    </tr>
    <%end%>
  </table>
</section>