<div class="comentarios">
    <h1 class=comentario-h1><%=t('.news')%></h1>
    <%= form_with scope: :post_home, url: post_index_path, method: :post, data: {controller: 'emoji'} do |form| %>
      <%= form.text_area :body, class:"conteiner-comment", placeholder: t('.placeholder'), data: { 'emoji-target': 'body'} %>
      <div class='icons-and-public-button'>
        <div class='slash-buttons'>
          <div class='icons-buttons'>
            <div data-emoji-target = 'pickerContainer' class='my-picker-comment'></div>
            <%= image_tag "smile.svg", data: { 'emoji-target': 'button', action: 'click->emoji#open' }%>
            <div data-controller="file" class='file-tbtn' >
              <%= image_tag "image.svg", data: { action: 'click->file#openFileDialog' } %>
              <%= form.file_field :attachment, multiple: true, data: {action: 'change->file#addFile'},class:"choosebtn"%>
              <ul data-file-target='list'> </ul>
              <ul data-file-target="image"> </ul>
            </div>
          </div>
          <%= form.check_box :highlight , class: 'highlight-checkbox' %>
          <label><%= t('.highlight_comment') %></label>
        </div>
        <%= form.submit t('.post'), class:'button-comment' %>
      </div>
    <% end %>
  </div>
  <% posts.each do |date, posts|%>
    <h2 class = 'comment-date'> <%= formatted_date(date)%></h2>
    <% posts.each do |post|%>
    <div class='conteiner-text-comment'>
          <div class="text-comment-each <%= "highlighted-comment" if post.highlight %>">
            <div class = 'comment-name-time'>
              <%= post.user.first_name %>
              <p class = 'comment-time'><%= post.created_at.strftime('%H:%M') %></p>
              <div class = 'likes'>
                <%= render 'likes', post: post %> 
              </div>
            </div>
            <p class='text-comment'><%= post.body %></p>
            <% if post.attachment.attached? %>
            <ul>
              <% post.attachment.each do |attachment| %>
                <li> <%= link_to attachment.filename, url_for(attachment), download: attachment.filename %> </li>
                <% end %>
            </ul>
            <% end %>
          </div>
          <details>
            <summary class='summary-btn'></summary>
            <div class = 'answers-container'>
              <% post.answers.each do |answer| %>
                <div class='conteiner-answer-comment'>
                  <div class="text-comment-each">
                    <span class = 'answer-name-time'>
                      <%= answer.user.first_name %>
                      <p class = 'comment-time'><%= post.created_at.strftime('%H:%M') %></p>
                    </span>
                    <p class='answer-comment'><%= answer.reply%></p>
                  </div>
                </div>
              <%end%>
            </div>
            <div class='placeholder-answers'>
              <%= form_with(scope: :answer, url: post_answers_create_post_path(post), method: :post) do |form| %>
                <%= form.text_area :reply, class:"aswers-textarea", placeholder: t('.placeholder')%>
                <%= button_tag :submit, class: 'form-btn-sub-comment' do %>
                  <%= image_tag 'send.svg' %>
                <% end %>
              <% end %>
            </div>
          </details>
        </div>
      <% end %>
  <% end %>
