  <% posts.each do |date, posts|%>
    <h2 class = 'comment-date'> <%= formatted_date(date)%></h2>
    <% posts.each do |post|%>
    <div class='conteiner-text-comment'>
          <div class="text-comment-each <%= "highlighted-comment" if post.highlight %>">
            <div class = 'comment-name-time'>
              <%= post.user.first_name %>
              <p class = 'comment-time'><%= post.created_at.strftime('%H:%M') %></p>
              <div class = 'likes'>
                <%= render 'likes', post: post %> 
              </div>
            </div>
            <p class='text-comment'><%= post.body %></p>
            <% if post.attachment.attached? %>
            <ul>
              <% post.attachment.each do |attachment| %>
                <li> <%= link_to attachment.filename, url_for(attachment), download: attachment.filename %> </li>
                <% end %>
            </ul>
            <% end %>
          </div>
          <details>
            <summary class='summary-btn'></summary>
            <div class = 'answers-container'>
              <% post.answers.each do |answer| %>
                <div class='conteiner-answer-comment'>
                  <div class="text-comment-each">
                    <span class = 'answer-name-time'>
                      <%= answer.user.first_name %>
                      <p class = 'comment-time'><%= post.created_at.strftime('%H:%M') %></p>
                    </span>
                    <p class='answer-comment'><%= answer.reply%></p>
                  </div>
                </div>
              <%end%>
            </div>
            <div class='placeholder-answers'>
              <%= form_with(scope: :answer, url: post_answers_create_post_path(post), method: :post) do |form| %>
                <%= form.text_area :reply, class:"aswers-textarea", placeholder: t('.placeholder')%>
                <%= button_tag :submit, class: 'form-btn-sub-comment' do %>
                  <%= image_tag 'send.svg' %>
                <% end %>
              <% end %>
            </div>
          </details>
        </div>
      <% end %>
  <% end %>
